@charset "UTF-8";


body{
    background-color: rgb(233, 232, 232);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-color: white;
    padding: 20px;
    height: 120px;
    border-radius: 15px;
}

h2{
    text-align: center;
    box-shadow: 1px 10px 5px rgba(0, 0, 0, 0.26);
}

header > nav {
    text-align: center;
    font-weight: bolder

}

main{
    background-color:white;
    text-align: justify;
    width: center;
    padding-bottom: 1px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-bottom:10px;
}

footer{
    background-color: rgba(0, 0, 0, 0.397);
    color: white;
    text-align: center;
    font-weight:bolder;
    font-style: italic;
    padding:4px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

footer > p{
    margin:0px;
}

nav > a{
    color: rgb(3, 3, 3);
    text-decoration: none;
    padding-right: 5px;
    padding-left:5px;
    text-align: center;
    transition: 0.3s;
}



main > aside{
    background-color: rgb(240, 200, 200);
    margin-left: 19px;
    margin-bottom: 20px;
    padding-left: 10px;
    width: 300px;
    text-align: left;
    border-style:outset;
}

main > article{
    padding: 5px 20px;
    color: rgb(107, 1, 1);

}

main > h2{
    padding-top:10px;
    margin-left:18px;
    margin-right: 18px;
}

nav > a:hover{
    font-size: 1.8em;
    text-decoration: overline;
    background-color: rgba(211, 211, 211, 0.158);
    font-weight: 900;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.103);
}

