@charset "UTF-8";

@media screen and (min-width:768px){

    i#menu{
        display: none;
    }

    header nav{
        display: block;
    }

    nav ul {
        text-align: start;
    }

    nav> ul > li  {
       display: inline-block;
       text-align: start;
       margin-left: 5px;
    }

    nav> ul> li> a{
        padding: 10px;
    }

    
}